.row.w-100.d-flex.align-content-center.p-1.p-md-2.p-lg-3
  .col-12{ class: components_page.metadata.content_alignment }
    %h2{ class: components_page.presenter.title_classes }
      = components_page.metadata.title
    %p.text-dark{ class: components_page.presenter.content_classes }
      = components_page.content
    - if components_page.metadata.cta_title.present?
      = link_to components_page.cta_title, components_page.cta_url, class: 'btn btn-primary'
