%iframe.w-100{ allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
    allowfullscreen: '',
    frameborder: '0',
    height: components_page.height,
    src: components_page.presenter.youtube_url,
    width: '560' }
